.paginationBtns {
    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    column-gap: 0.5rem;
    margin-top: 60px;
}

.paginationBtns a {
    padding: 5px 12px;
    background-color: var(--black-color);
    color: #fff !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.paginationBtns a:hover {
    background-color: var(--red-color);
}
