.product__content {
    padding-left: 50px;
}

.product__title {
    margin-bottom: 12px;
}

.product__price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.product__price span {
    font-size: 2rem;
}

.product__category {
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 36px;
    display: flex;
    align-items: center;
}

.product__category span {
    padding: 3px 7px;
    background-color: var(--skin-color);
    color: var(--black-color);
    margin-left: 8px;
    border-radius: 5px;
}

.tabs {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    border-bottom: 1px solid var(--skin-color);
}

.tab__content {
    line-height: 28px;
    color: var(--black-color);
}

.tab__active {
    color: var(--red-color);
}

.form {
    width: 60%;
    margin: auto;
    background: #fde4e4;
    padding: 20px;
    border-radius: 5px;
}

.form__group {
    margin-bottom: 30px;
}
.form__group input,
.form__group textarea {
    width: 100%;
    background: transparent;
    padding: 7px 20px;
    border: none;
    border-bottom: 1px solid #2122454c;
}

.form__group input:focus,
.form__group textarea:focus {
    outline: none;
}

.user__name {
    font-weight: 600;
    color: #212245;
}

.user__email {
    font-size: 0.8rem;
}

.feedback__text {
    color: #212245b6;
}

.img__item {
    cursor: pointer;
}

.related__product-title {
    font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
    .product__title {
        font-size: 1.2rem;
    }

    .product__price,
    .product__price span {
        font-size: 1rem;
    }

    .product__category,
    .product__category span {
        font-size: 0.8rem;
    }

    .tabs {
        margin-top: 30px;
    }
    .tabs h6 {
        font-size: 0.9rem;
    }

    .tab__content p,
    .user__name,
    .feedback__text {
        font-size: 0.8rem;
    }

    .user__email {
        font-size: 0.7rem;
    }

    .form {
        width: 100% !important;
        margin-top: 50px;
    }

    .form__group input::placeholder,
    .form__group textarea::placeholder {
        font-size: 0.8rem;
    }
    .related__product-title {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 576px) {
    .product__image {
        display: flex;
        flex-direction: row;
    }

    .product__main-img {
        margin-bottom: 20px;
    }
}
